@import "../../variables.scss";
$top-border-height: 2px;
$footer-height: calc(83px + $top-border-height);

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: calc($footer-height - $top-border-height);
  width: 100%;
  background-color: var(--text-color);

  border-top: solid $top-border-height var(--primary-color);

  .theme-selector {
    position: relative;

    label {
      margin-right: 0.5rem;
      font-size: 1rem;
    }

    select {
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid var(--text-color);
      border-radius: 0.25rem;
      background-color: var(--primary-color);
      color: var(--text-color);
      font-weight: bold;

      option {
        padding: 0.5rem;
        color: rgba(0, 0, 0, 0.5);
        &:hover {
          background-color: white;
          color: white;
        }
      }
    }
  }
}
