@import "../../variables.scss";

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: var(--text-color);

  .theme-selector {
    position: relative;

    label {
      margin-right: 0.5rem;
      font-size: 1rem;
    }

    select {
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid var(--text-color);
      border-radius: 0.25rem;
      background-color: var(--background-color);
      color: var(--text-color);
    }
  }
}
