// Light mode colors
$light-secondary-color: #1e90ff;
$dark-secondary-color: #1362b2;
$light-accent-color: black;
$light-background-color: #eaeaea;
$light-text-color: #151515;

// Extended Colors
$pickle-yellow: #ccff00;
$pickle-green: #adff2f;
$pickle-orange: #ffa500;
$pickle-blue: #1e90ff;
$pickle-white: #ffffff;
$pickle-red: #ff4500;
$dark-percentage: 5%;

// Sizes
$mobile-width: 767px;
$tablet-width: 1024px;

// Fonts
$primary-font: "Poppins";

// CSS Variables
:root {
  --pickle-yellow: #{$pickle-yellow};
  --pickle-green: #{$pickle-green};
  --pickle-orange: #{$pickle-orange};
  --pickle-blue: #{$pickle-blue};
  --pickle-white: #{$pickle-white};
  --pickle-red: #{$pickle-red};

  --primary-color: #{$pickle-yellow};
  --primary-color-dark: #{darken($pickle-yellow, $dark-percentage)};
  --secondary-color: #1e90ff;
  --accent-color: black;
  --background-color: #eaeaea;
  --text-color: #151515;
  --highlighted-text-color: silver;
  --error: var(--pickle-red);
}

[data-theme="pickle-green"] {
  --primary-color: #{$pickle-green};
  --primary-color-dark: #{darken($pickle-green, $dark-percentage)};
  --secondary-color: #{$light-secondary-color};
  --accent-color: #{$light-accent-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
  --highlighted-text-color: #{silver};
  --error: #{$pickle-red};
}
[data-theme="pickle-orange"] {
  --primary-color: #{$pickle-orange};
  --primary-color-dark: #{darken($pickle-orange, $dark-percentage)};
  --secondary-color: #{$light-secondary-color};
  --accent-color: #{$light-accent-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
  --highlighted-text-color: #{$light-background-color};
  --error: #{$pickle-red};
}
[data-theme="pickle-blue"] {
  --primary-color: #{$pickle-blue};
  --primary-color-dark: #{darken($pickle-blue, $dark-percentage)};
  --secondary-color: #{$dark-secondary-color};
  --accent-color: #{$light-accent-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
  --highlighted-text-color: #{$light-background-color};
  --error: #{$pickle-red};
}
[data-theme="pickle-white"] {
  --primary-color: #{$pickle-white};
  --primary-color-dark: #{silver};
  --secondary-color: #{$light-secondary-color};
  --accent-color: #{$light-accent-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
  --highlighted-text-color: #{$light-secondary-color};
  --error: #{$pickle-red};
}
[data-theme="pickle-red"] {
  --primary-color: #{$pickle-red};
  --primary-color-dark: #{darken($pickle-red, $dark-percentage)};
  --secondary-color: #{$light-secondary-color};
  --accent-color: #{$light-accent-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
  --highlighted-text-color: #{$light-background-color};
  --error: #{$pickle-red};
}

$color-theme-transition: 0.5s ease-in-out;
* {
  transition:
    background-color $color-theme-transition,
    border-color $color-theme-transition,
    color $color-theme-transition;
}
