// Light mode colors
$light-primary-color: #ccff00;
$light-secondary-color: #1e90ff;
$light-accent-color: black;
$light-background-color: #f5f5f5;
$light-text-color: #333333;

// Dark mode colors
$dark-primary-color: #99cc00;
$dark-secondary-color: #0a74da;
$dark-accent-color: #ff4500;
$dark-background-color: #2c2c2c;
$dark-text-color: #f5f5f5;

// Sizes
$mobile-width: 767px;
$tablet-width: 1024px;

// CSS Variables
:root {
  --primary-color: #{$light-primary-color};
  --secondary-color: #{$light-secondary-color};
  --accent-color: #{$light-accent-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}

[data-theme="dark"] {
  --primary-color: #{$dark-primary-color};
  --secondary-color: #{$dark-secondary-color};
  --accent-color: #{$dark-accent-color};
  --background-color: #{$dark-background-color};
  --text-color: #{$dark-text-color};
}
