// Light mode colors
$pickle-yellow: #ccff00;
$light-secondary-color: #1e90ff;
$dark-secondary-color: #1362b2;
$light-accent-color: black;
$light-background-color: #f5f5f5;
$light-text-color: #333333;

// Extendewd Colors
$pickle-green: #adff2f;
$pickle-orange: #ffa500;
$pickle-blue: #1e90ff;
$pickle-white: #ffffff;
$pickle-red: #ff4500;

// Sizes
$mobile-width: 767px;
$tablet-width: 1024px;

// Fonts
$primary-font: "Poppins";

// CSS Variables
:root {
  --primary-color: #{$pickle-yellow};
  --secondary-color: #{$light-secondary-color};
  --accent-color: #{$light-accent-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}

[data-theme="pickle-green"] {
  --primary-color: #{$pickle-green};
  --secondary-color: #{$light-secondary-color};
  --accent-color: #{$light-accent-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}
[data-theme="pickle-orange"] {
  --primary-color: #{$pickle-orange};
  --secondary-color: #{$light-secondary-color};
  --accent-color: #{$light-accent-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}
[data-theme="pickle-blue"] {
  --primary-color: #{$pickle-blue};
  --secondary-color: #{$dark-secondary-color};
  --accent-color: #{$light-accent-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}
[data-theme="pickle-white"] {
  --primary-color: #{$pickle-white};
  --secondary-color: #{$light-secondary-color};
  --accent-color: #{$light-accent-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}
[data-theme="pickle-red"] {
  --primary-color: #{$pickle-red};
  --secondary-color: #{$light-secondary-color};
  --accent-color: #{$light-accent-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}

* {
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}
